<div class="container">
    <div class="row">
        <div class= "col-xs-12 text-center" id ="top-bar">
            <h1> Eat the Burger</h1>
            
        </div>
        <div class="col-xs-6 text center" class ="task">
            <div class="row">
                {{#each burger_data}}
                {{#unless this.devoured}}
                <div class="col-xs-9 text-center"></div>
                <pre> {{this.id}}. {{this.burger_name}} </pre>

                </div>
                <div class="col-xs-3 text center"></div>
                <form method="POST" action="/burgers/update?_method=PUT"
                class="button-size">
                <input type="hidden" name="burger_id" type="text" value=
                {{this.id}}>
                <br>
                <button type="submit" class="btn btn-default"> Devourt This Burger</button>
                </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>   
        <div class="col-xs-6 text-center" class="task">
            {{!-- this is referring to our data from our burger as well as if it is devoured --}}
            {{$each burger_data}}
            {{#if this.devoured}}
            <input class="form-control" type="text" placeholder="{{
                this.id}}. {{this.burger_name}}" readonly>
        {{/if}}
        {{/each}}
            </div>
        </div> 
</div>
<div class="container">
<div class="row">
    <div class="col-xs-12 text-center enter_section">
        <form section="/burgers/create" method="POST">
        <input type="text" name="burger_name" class="form-control"
        value="" id="enter_text">
        <button type="submit" class="btn btn-primary" id="text-enter-button">Submit :)</button>
        </form>
        <p>Identify a burger you would like to eat! </p>
    </div>
</div>
</div>

<p> successfully connected to server!</p>